text2speech
[{"id":"b7e9419.38716c","type":"http in","z":"4270af5e.42554","name":"","url":"/talk/sayit","method":"get","swaggerDoc":"","x":168,"y":247,"wires":[["af49bb98.dbd9f8"]]},{"id":"af49bb98.dbd9f8","type":"switch","z":"4270af5e.42554","name":"Check text","property":"payload.text_to_say","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":345,"y":254,"wires":[["d4479bb7.4198f8"],["eba948fd.7f5918"]]},{"id":"d4479bb7.4198f8","type":"change","z":"4270af5e.42554","name":"text to payload","rules":[{"t":"set","p":"payload","to":"msg.payload.text_to_say"},{"t":"set","p":"text_to_say","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":208,"wires":[["4254f6c5.e91788"]]},{"id":"4254f6c5.e91788","type":"watson-text-to-speech","z":"4270af5e.42554","name":"","lang":"english","voice":"en-US_MichaelVoice","x":637,"y":147,"wires":[["b063c0f1.95871"]]},{"id":"b063c0f1.95871","type":"change","z":"4270af5e.42554","name":"Speech to payload","rules":[{"t":"set","p":"payload","to":"msg.speech"}],"action":"","property":"","from":"","to":"","reg":false,"x":756,"y":208,"wires":[["d6402819.e42948"]]},{"id":"d6402819.e42948","type":"function","z":"4270af5e.42554","name":"Set headers","func":"// Set the content type to audio wave\nvar wavFileName=msg.text_to_say.replace(' ','_');\nif(wavFileName.length>32) {\n    wavFileName=wavFileName.substr(0,32);\n}\nvar attch='attachment; filename='+encodeURIComponent(wavFileName+'.wav');\nmsg.headers={ 'Content-Type': 'audio/wav',\n              'Content-Disposition': attch};\n\nreturn msg;","outputs":1,"noerr":0,"x":817,"y":262,"wires":[["65f1dc48.3058e4"]]},{"id":"eba948fd.7f5918","type":"template","z":"4270af5e.42554","name":"Error","field":"payload","format":"handlebars","template":"<h1>\nError:    No f or text_to_say query parameter\n</h1>","x":484,"y":301,"wires":[["65f1dc48.3058e4"]]},{"id":"65f1dc48.3058e4","type":"http response","z":"4270af5e.42554","name":"Reply Speech binary","x":978,"y":318,"wires":[]}]
