watsonVRcode/code.txt
[{"id":"4ee4dee.29b842","type":"http in","z":"1727094c.4638e7","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":107,"y":92,"wires":[["3f234e9f.07ded2"]]},{"id":"8c7c9cce.f0de6","type":"http response","z":"1727094c.4638e7","name":"HTTP Response","x":964,"y":191,"wires":[]},{"id":"3f234e9f.07ded2","type":"switch","z":"1727094c.4638e7","name":"Check image param","property":"payload.url","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":192,"y":174,"wires":[["4550bb25.47f3e4"],["45416e92.c53f7"]]},{"id":"4550bb25.47f3e4","type":"template","z":"1727094c.4638e7","name":"HTML Input Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Visual Recognition Demo on Node-RED</h1>\n<h2>Type a image URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    Url: <input type=\"text\" name=\"url\"/><br/>\n    <input type=\"submit\" value=\"Authorise\"/>\n</form>\n","x":655,"y":169,"wires":[["8c7c9cce.f0de6"]]},{"id":"45416e92.c53f7","type":"function","z":"1727094c.4638e7","name":"Classify","func":"msg.imageurl = encodeURI(msg.payload.url)\nmsg.url=\"https://gateway-a.watsonplatform.net/visual-recognition/api/v3/classify?&api_key=YourAPIKEY&url=\"+encodeURI(msg.payload.url)+\"&classifier_ids=YOURCLASSIFIER&owners=me,IBM&threshold=0.2&version=ASKTRAINER\";\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":276,"wires":[["64ddf73e.3be0f8"]]},{"id":"64ddf73e.3be0f8","type":"http request","z":"1727094c.4638e7","name":"","method":"GET","ret":"obj","url":"","x":313,"y":382,"wires":[["dd83c209.7ddd2"]]},{"id":"dd83c209.7ddd2","type":"function","z":"1727094c.4638e7","name":"Set Header for HTML","func":"msg.imageclasses = msg.payload;\nmsg.headers = {'Content-Type' : 'text/html'};\nif (msg.payload !==undefined && msg.payload.images !== undefined && msg.payload.images.classifiers !== undefined){\nmsg.score = msg.payload.images[0].classifiers[0].classes[0].score;\nmsg.class = msg.payload.images[0].classifiers[0].classes[0].class;\n}else{\n    msg.score = 0;\n    msg.class = \"negative\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":321,"wires":[["5397bafc.356e64"]]},{"id":"5397bafc.356e64","type":"function","z":"1727094c.4638e7","name":"Identification","func":"if(msg.class === 'PERSON1' || msg.class === 'PERSON2'){\nif (msg.score >  0.1){\n msg.payload.authorize = 1; \n     }   \n}else{\n    \n    msg.payload.authorize = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":737,"y":307,"wires":[["8c7c9cce.f0de6"]]}]
