watsonVRcode/code.txt
[{"id":"adb65d5a.5f23c","type":"http in","z":"42531929.0e6788","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":133,"y":85,"wires":[["53e57d86.ce3c04"]]},{"id":"3984f919.3b5056","type":"http response","z":"42531929.0e6788","name":"HTTP Response","x":990,"y":184,"wires":[]},{"id":"53e57d86.ce3c04","type":"switch","z":"42531929.0e6788","name":"Check image param","property":"payload.url","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":218,"y":167,"wires":[["68fee014.d2f0d"],["64e60c55.5e96b4"]]},{"id":"68fee014.d2f0d","type":"template","z":"42531929.0e6788","name":"HTML Input Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Visual Recognition Demo on Node-RED</h1>\n<h2>Type a image URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    Url: <input type=\"text\" name=\"url\"/><br/>\n    <input type=\"submit\" value=\"Authorise\"/>\n</form>\n","x":681,"y":162,"wires":[["3984f919.3b5056"]]},{"id":"64e60c55.5e96b4","type":"function","z":"42531929.0e6788","name":"Classify","func":"msg.imageurl = encodeURI(msg.payload.url)\nmsg.url=\"https://gateway-a.watsonplatform.net/visual-recognition/api/v3/classify?&api_key=1234myapikey&url=\"+encodeURI(msg.payload.url)+\"&classifier_ids=myclassifierid&owners=me,IBM&threshold=0.2&version=providedbytrainer\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":269,"wires":[["4d566254.ad05ac"]]},{"id":"4d566254.ad05ac","type":"http request","z":"42531929.0e6788","name":"","method":"GET","ret":"obj","url":"","x":339,"y":375,"wires":[["d836022e.12b47"]]},{"id":"d836022e.12b47","type":"function","z":"42531929.0e6788","name":"Set Header for HTML","func":"msg.imageclasses = msg.payload;\nmsg.headers = {'Content-Type' : 'text/html'};\nmsg.score = msg.payload.images[0].classifiers[0].classes[0].score;\nmsg.class = msg.payload.images[0].classifiers[0].classes[0].class;\nreturn msg;","outputs":1,"noerr":0,"x":523,"y":314,"wires":[["d3616afc.b4ab58"]]},{"id":"d3616afc.b4ab58","type":"function","z":"42531929.0e6788","name":"Identification","func":"if(msg.class === 'person1class' || msg.class === 'person2class'){\nif (msg.score >  0.1){\n msg.payload.authorize = 1; \n     }   \n}else{\n    \n    msg.payload.authorize = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":763,"y":300,"wires":[["3984f919.3b5056"]]}]