watsonVRcode/code.txt
[{"id":"1c43410e.82da4f","type":"http in","z":"8e295bd1.4a6ef8","name":"","url":"/recognize","method":"get","swaggerDoc":"","x":92,"y":128,"wires":[["29a60fe0.7f7c5"]]},{"id":"16cb61a5.c3509e","type":"http response","z":"8e295bd1.4a6ef8","name":"HTTP Response","x":949,"y":227,"wires":[]},{"id":"29a60fe0.7f7c5","type":"switch","z":"8e295bd1.4a6ef8","name":"Check image param","property":"payload.url","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":177,"y":210,"wires":[["6244baab.d93234"],["cf4e0d3d.785c4"]]},{"id":"6244baab.d93234","type":"template","z":"8e295bd1.4a6ef8","name":"HTML Input Form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Visual Recognition Demo on Node-RED</h1>\n<h2>Type a image URL</h2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    Url: <input type=\"text\" name=\"url\"/><br/>\n    <input type=\"submit\" value=\"Authorise\"/>\n</form>\n","x":640,"y":205,"wires":[["16cb61a5.c3509e"]]},{"id":"cf4e0d3d.785c4","type":"function","z":"8e295bd1.4a6ef8","name":"Classify","func":"msg.imageurl = encodeURI(msg.payload.url)\nmsg.url=\"https://gateway-a.watsonplatform.net/visual-recognition/api/v3/classify?&api_key=1234myapikey&url=\"+encodeURI(msg.payload.url)+\"&classifier_ids=myclassifierid&owners=me,IBM&threshold=0.2&version=providedbytrainer\";\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":312,"wires":[["828f16d0.c6ae68"]]},{"id":"828f16d0.c6ae68","type":"http request","z":"8e295bd1.4a6ef8","name":"","method":"GET","ret":"obj","url":"","x":298,"y":418,"wires":[["1b086d28.a54013","c2f91454.f713d8"]]},{"id":"1b086d28.a54013","type":"debug","z":"8e295bd1.4a6ef8","name":"JSON RESULT","active":true,"console":"false","complete":"payload","x":492.5,"y":454,"wires":[]},{"id":"c2f91454.f713d8","type":"function","z":"8e295bd1.4a6ef8","name":"Set Header for HTML","func":"msg.imageclasses = msg.payload;\nmsg.headers = {'Content-Type' : 'text/html'};\nmsg.score = msg.payload.images[0].classifiers[0].classes[0].score;\nmsg.class = msg.payload.images[0].classifiers[0].classes[0].class;\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":357,"wires":[["2848276a.e46f78"]]},{"id":"9de10c18.cb417","type":"debug","z":"8e295bd1.4a6ef8","name":"Image Data","active":true,"console":"false","complete":"authorize","x":784,"y":449,"wires":[]},{"id":"af0c885e.fbf5e8","type":"template","z":"8e295bd1.4a6ef8","name":"HTML Classification Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition on Node-RED</h1>\n{{#imageclasses}}\n    {{#images}}\n        <div><img src=\"{{imageurl}}\" height='100'/></div>\n        <div>{{image}}</div>\n        <br/>\n        <table border='1'>\n            <thead>\n                <tr><th>Classifier</th><th>Score</th></tr>\n            </thead>\n            <tbody>\n            {{#classifiers}}\n                {{#classes}}\n                    <tr>\n                        <td>\n                            {{class}}\n                        </td>\n                        <td>\n                            {{score}}\n                        </td>\n                    </tr>\n                {{/classes}} \n             {{/classifiers}}\n                {{^classifiers}}\n                    <tr>\n                        <td colspan=\"2\">\n                            No match to classification\n                        </td>\n                    </tr>\n                {{/classifiers}}                \n            </tbody>\n        </table>\n    {{/images}}    \n{{/imageclasses}}\n","x":677,"y":277,"wires":[[]]},{"id":"2848276a.e46f78","type":"function","z":"8e295bd1.4a6ef8","name":"Identification","func":"if(msg.class === 'shubhra' || msg.class === 'rajesh'){\nif (msg.score >  0.1){\n msg.payload.authorize = 1; \n     }   \n}else{\n    \n    msg.payload.authorize = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":722,"y":343,"wires":[["9de10c18.cb417","16cb61a5.c3509e"]]}]